<h4><%= link_to 'Captura del anexo 14', fourteen_annexes_path %></h4>
<h4><%= link_to 'Captura del anexo 15', fifteen_annexes_path %></h4>
<h4><%= link_to 'Captura del anexo 16', sixteen_annexes_path %></h4>
