<div class="container text-center">
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
              <% if user_signed_in? %>
                <li><a href="/">Hola <%= current_user.email %></a></li>
              <% else %>
                <li><a href="#">Accede</a></li>
              <% end %>
                <li><a href="#">Versión 1.0.16</a></li>
                <li><a href="#">© 2015 Secretaría de Salud - CENAPRECE.</a></li>
            </ul>
        </div>
    </div>
</div>
