<nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#"><span class="fui-flat"></span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <a class="navbar-brand" href=<%= root_path %>>CENAPRECE - Semana nacional de vacunación antirrábica canina y felina</a>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                  <ul class="nav navbar-nav navbar-right">
                    <% if user_signed_in? %>
                    <li><%= link_to "Cerrar sesión",destroy_user_session_path, :method => :delete %></li>
                    <% else %>
                    <li><%= link_to "Ingresa", new_user_session_path %></li>
                    <% end %>
                  </ul>
                </div>
              </div><!-- /.navbar-collapse -->
            </nav><!-- /navbar -->
